.ui.secondary.menu {
    background-color: rgba(66, 13, 116, 0.365);
    
}

.ui.secondary.menu.navStyle {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    
}



a {
    padding-left: 20px;
    padding-right: 20px;
    color: #ddc702;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* text-decoration: underline; */
    display: inline;
    margin: 0;
    color: #ddc702;
    /* padding: 0; */
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
    outline: none;
}