.ui.secondary.menu {
    background-image: url("../../public/images/background.jpg")
}

a {
    padding-left: 20px;
    padding-right: 20px;
    color: #ddc702;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* text-decoration: underline; */
    display: inline;
    margin: 0;
    color: #ddc702;
    /* padding: 0; */
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
    outline: none;
}